@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), 'Manrope', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grayscale {
    filter: grayscale(100%);
  }
}
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Customize the color of the loading bar */
#nprogress .bar {
  background: #000000 !important; /* Black loading bar */
}

/* Customize the color of the spinner, if enabled */
#nprogress .spinner-icon {
  border-top-color: #000000 !important; /* Black spinner */
  border-left-color: #000000 !important;
}

/* Customize the background of the progress bar */
#nprogress .peg {
  box-shadow: 0 0 10px #000000, 0 0 5px #000000 !important; /* Black glow effect */
}
